<section>
<div class="navbar navbar-inverse navbar-static-top navig navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" rel="home" href="#/" title="ገበያ - Homepage">ገበያ</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <div class="col-sm-3 col-md-3 pull-left">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control searchField" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                      <button type="button" class="btn dropdown-toggle navBtn" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i>
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu" role="menu">
                            <li><a href="#">All</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Electronics</a></li>
                            <li><a href="#">House holds</a></li>
                            <li><a href="#">Software Products</a></li>
                            <li><a href="#">Used Materials</a></li>
                            <li><a href="#">Vehicles</a></li>
                            
                            <li class="divider"></li>
                            
                            <li><a href="#">Bars</a></li>
                            <li><a href="#">Beauty Saloons</a></li>
                            <li><a href="#">Boutiques</a></li>
                            <li><a href="#">Gambling Rooms</a></li>
                            <li><a href="#">Gas Stations</a></li>
                            <li><a href="#">Restaurants, Hotel and Spa</a></li>
                            <li><a href="#">Hospitals</a></li>
                            <li><a href="#">Ministry Offices</a></li>
                            <li><a href="#">Schools</a></li>
                            <li><a href="#">Telecoms</a></li>
                            <li><a href="#">Ticket Offices</a></li>
                            <li><a href="#">Tour Operators</a></li>
                            
                      </ul>
                    </div>
                  </input>
                </div>
            </form>        
        </div>
        <div class="pull-right">
            <ul class="nav navbar-nav navbar-right loginBtn">
                <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
    
  </div>

  <!--The above is for the navigation bar-->
    <div class="jumbotron text-center">
      <h1>Organization</h1> 
      <p>We specialize in marketing your products and services!</p> 
      <form class="form-inline">
        <input type="email" class="form-control test" size="40" placeholder="Email Address" required>
        <!-- <button type="button" class="btn btn-danger">Subscribe</button> -->
      </form>
      <br>
      <form class="form-inline">
        <input type="password" class="form-control test" size="40" placeholder="Password" required>
        
      </form>
      <br>
      <form class="form-inline">
        <a href="#/adminPage"><button type="button" class="btn btn-default test">Login</button></a>
      </form>
      <br><br>
      
      <!-- Container (About Section) -->
      <div id="about" class="container-fluid">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <div class="col-sm-8">
              <h2>About The Web Site</h2><br>
              <h4 class="text-justify">"Themarket" which is named after the Amharic word ገበያ read as gebeya meaning market is supposed to bring each of us together in the marketing world. The Website connects buyers and sellers and enables the access of price, google map assisted geographical location, pictorial detail, description and other details of products and services over the Internet.</h4><br>
              <h4 class="text-justify">The effectiveness of the page is solely dependent up on the contribution of <strong>YOU</strong> the marketers whether buyers or sellers. With our coopration marketing will become as simple as peeling a banana. Any interested company will have an account so that it can introduce its products and services. The products and services will then be available to who ever is browsing <a href="www.themarket.com">www.themarket.com</a>. The website will also intelligently provide location and path services using googlemap indication to any of the branches of the registered Organization. Good Luck!</h4>
            </div>
            <div class="col-sm-4">
              <br><br><br><br>
              <img src="marketingAboutUs.jpg" alt="Marketing Picture" width="275" height="183">
            </div>
          </div>
          <div class="col-sm-1"></div>
          
        </div>
      </div>

      <div class="container-fluid bg-grey">
        <div class="row">
          <br><br>
          <div class="col-sm-1"></div>
          <div class=" row col-sm-10">
            <div class="col-sm-4">
              <br><br><br><br>
              <!--<span class="glyphicon glyphicon-globe logo slideanim"></span>-->
              <img src="images/contactPagePictures/computerMarketing.jpg" alt="Marketing Picture 2" width="275" height="183">
            </div>
            <div class="col-sm-8">
              <h2>Our Values</h2><br>
              <h4 class="text-justify"><strong>MISSION:</strong> Our mission is to create an interconnected marketing of products and services and creation of human free, fast and reliable information system for everyone.</h4><br>
              <h4 class="text-justify"><strong>VISION:</strong> Our vision is creating a facilitated end to end servicing of marketing by 2020.</h4>
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>


      <!-- Container (Contact Section) -->
      <div id="contact" class="container-fluid bg-grey">
        <div class="row">
          <br><br>
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <h2 class="text-center">CONTACT</h2>
            <div class="col-sm-5">
              <h4>Contact us and we'll get back to you within 24 hours.</h4>
              <h4><span class="glyphicon glyphicon-map-marker"></span> Addis Ababa, Ethiopia</h4>
              <h4><span class="glyphicon glyphicon-phone"></span> +251-912978393</h4>
              <h4><span class="glyphicon glyphicon-envelope"></span> dgdoorvan@yahoo.com</h4>
            </div>
            <div class="col-sm-7 slideanim">
              <div class="row">
                <div class="col-sm-12 form-group">
                  <input class="form-control test" id="name" name="name" placeholder="Your Organization Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                  <input class="form-control test" id="name" name="name" placeholder="Telephone" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                  <input class="form-control test" id="email" name="email" placeholder="Email" type="email" required>
                </div>
              </div>
              <textarea class="form-control test" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
              <div class="row">
                <div class="col-sm-12 form-group">
                  <button class="btn btn-default pull-right test" type="submit">Send</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>      
      </div>
      <footer class="container-fluid text-center">
        <!--<a href="#/login" title="To Top">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </a>-->
        <p><a href="#" title="Visit themarket">www.themarket.com</a></p>
      </footer>
      </div>
    



</section>