<section>
  <div class="navbar navbar-inverse navbar-static-top navig navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" rel="home" href="#/" title="ገበያ - Homepage">ገበያ</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <div class="col-sm-3 col-md-3 pull-left">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control searchField" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                      <button type="button" class="btn dropdown-toggle navBtn" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i>
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu" role="menu">
                            <li><a href="#">All</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Electronics</a></li>
                            <li><a href="#">House holds</a></li>
                            <li><a href="#">Software Products</a></li>
                            <li><a href="#">Used Materials</a></li>
                            <li><a href="#">Vehicles</a></li>
                            
                            <li class="divider"></li>
                            
                            <li><a href="#">Bars</a></li>
                            <li><a href="#">Beauty Saloons</a></li>
                            <li><a href="#">Boutiques</a></li>
                            <li><a href="#">Gambling Rooms</a></li>
                            <li><a href="#">Gas Stations</a></li>
                            <li><a href="#">Restaurants, Hotel and Spa</a></li>
                            <li><a href="#">Hospitals</a></li>
                            <li><a href="#">Ministry Offices</a></li>
                            <li><a href="#">Schools</a></li>
                            <li><a href="#">Telecoms</a></li>
                            <li><a href="#">Ticket Offices</a></li>
                            <li><a href="#">Tour Operators</a></li>
                            
                      </ul>
                    </div>
                  </input>
                </div>
            </form>        
        </div>
        <div class="pull-right">
            <ul class="nav navbar-nav navbar-right loginBtn">
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
    
  </div>
  <!--The above is the navigation bar-->
  <div class="mainContent">
    <div class=" row listIdentifier mainHeading">
        <h1>Specific Product/Service Detail</h1><br/>
    </div>
    <div class="afterHeading">
      <div class="col-sm-1"></div>
      <div class="myPanel col-sm-9">
        <div class="col-sm-12 containerr">
            <!--The form goes here -->
            <div class="form-group form-inline">
              <br><br>
              <div class="col-sm-6">
                <label><h4>Specific Product/Service Name: </h4></label>
              </div>
              <div class="col-sm-6">
                <input><h4>{{specificProducts[whichItem].specificProductName}}</h4><input>
              </div>
              
            </div>
            <br><br>
            <div class="form-group form-inline">
              <div class="col-sm-6">
                <label><h4>Specific Product/Service Price: </h4></label>
              </div>
              <div class="col-sm-6">
                <h4>{{specificProducts[whichItem].specificProductPrice.price}}</h4>
              </div>
              
            </div>
            <br><br>
            <div class="form-group form-inline">
              <div class="col-sm-6">
                <label><h4>Manufacturer/Service Provider Name:</h4> </label>
              </div>
              <div class="col-sm-6">
                <h4>{{specificProducts[whichItem].specificProductManufacturerName}}</h4>
              </div>
              
            </div>
            <br><br>
            <div class="form-group form-inline">
              <div class="col-sm-6">
                <label><h4>Specific Product/Service Model (If there is):</h4> </label>
              </div>
              <div class="col-sm-6">
                <h4>{{specificProducts[whichItem].specificProductModel}}</h4>
              </div>
              
            </div>
            <br><br>
            <div class="form-group form-inline">
              <div class="col-sm-6">
                <label for="sel1"><h4>Availablity:</h4></label>
              </div>
              <div class="col-sm-6">
                <h4>{{specificProducts[whichItem].specificProductAvailablity}}</h4>
              </div>
              
            </div>
            <br><br>
            <div class="form-group form-inline">
              <div class="col-sm-6">
                <label><h4>Specific Product/Service Description:</h4> </label>
              </div>
              <div class="col-sm-6">
                <h4>{{specificProducts[whichItem].specifcProductDescription}}</h4>
              </div>
              
            </div>
            <br><br>
            
            <br><br>
            <a href="#/specificProducts/{{specificProducts.indexOf(specificProduct)}}/specificProductOrServiceEdit"><button type="button" class="btn btn-default">Edit</button></a>
            
        </div>      
      </div>
      <div class="col-sm-2">
        <a href="#"><img src="images/Ethiopian Train.jpg"></a>
        <p>This is where the first ad goes! I will put one of the ads here.</p>
      </div>
    </div>
  </div>
</section>